/* setting */
@charset "UTF-8";
@import url(/css/font.css);
:root{
    --main-color01:#4173F0;
    --main-color02:#18235B;
    --bg-color01:#E8F0FB;
    --gray-color01:#141414;
    --gray-color02:#300A5C;
    --gray-color03:#8E908E;
    --gray-color04:#DFDEDC;
    --font-type01: 'Pretendard';
    --padding01:60px;
}
@media (max-width: 992px) {
    :root{
        --padding01:40px;
    }
}

/* reset */
html, body{width: 100%;color: var(--gray-color01);font-family: var(--font-type01); font-size: 18px; line-height: 1.4; -ms-overflow-style: none;  scrollbar-width: none;  -webkit-scrollbar: none;  scroll-behavior: smooth;  word-break: keep-all;}
*, ::after, ::before {margin: 0;  padding: 0;  box-sizing: border-box;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
a {text-decoration: none; color: inherit;}
a:hover {text-decoration: none; color: inherit;}
a:focus-visible {text-decoration: none; color: inherit; outline-color: red;}
button, input, select, textarea {background: 0 0; border: 0; font: inherit; color: inherit; outline: 0;}
button {cursor: pointer;}
img, video {max-width: 100%; height: auto; vertical-align: middle;}
table {border-collapse: collapse; border-spacing: 0;}
.material-symbols-outlined {font-variation-settings: "FILL" 0, "wght" 700, "GRAD" -25, "opsz" 20;vertical-align: middle;}
.material-symbols-rounded {font-variation-settings:'FILL' 0,'wght' 200, 'GRAD' 0,  'opsz' 24}
@media (max-width: 992px) {
  html, body{width: 100dvw; font-size: 16px;}
}

/* common */
.sub-tit{display: flex;align-items: center;gap:24px;border-top:1px solid var(--gray-color04);border-bottom:1px solid var(--gray-color04);padding:24px var(--padding01);
    .tit-h2{font-size: 32px;text-transform: uppercase;}
    .info{color: var(--gray-color03);}
}

/* intro */
.intro{display: flex; flex-direction: column;justify-content: space-between;height: 100vh;
    .intro-tit{padding: var(--padding01);text-transform: uppercase;
        span{color: var(--gray-color03);}
        h1{font-size: 5rem;line-height: 1;}
    }

    .intro-list{display: flex;height: 60%;}
    .intro-item{flex: 1 1 10%;transition:all .3s;}
    .intro-item:hover {flex: 1 1 15%;}
    .intro-unit{display: block;position: relative;height: 100%;padding: var(--padding01);z-index: 0;color: #fff; background: url(/img/link-img02.jpg) no-repeat center/cover;}
    .intro-unit::before{display: block;position: absolute;left:0;top: 0;content: ''; width: 100%;height: 100%;z-index: -1;opacity: .7;background-color: var(--gray-color01); }
    .tit-box{display: flex;align-items: center;justify-content: space-between;
        span{font-size: 40px;}
    }
    .tit{text-transform: uppercase;}
}


@media (max-width: 992px){

}