@import 'default';

// common /////////////////////////////////////////////////////////
.main-con{word-break: keep-all;width: 100%;}
section{position: relative;width:100%;min-height: 100vh;}
.container{position: relative;;display: flex; justify-content: center;  flex-direction: column;padding: 0 80px;width: 100%;max-width: 1920px;height: 100%;}
.tit{font-size: 64px;text-transform:uppercase;}
.tit-sub{font-size: 20px; color: $gray-color02;}
@include bp('xl'){
    .container{padding: 0 60px;max-width: 100%;}
}
@include bp('lg'){  
    section{min-height: 0;}
    .container{padding: 0 40px;height: auto;}
}
@include bp('md'){
    .container{padding: 0 24px;}
}
@include bp('sm'){
    .container{padding: 0 16px;}
}


// visual /////////////////////////////////////////////////////////
.visual{background-color: #fff;height:200vh;
    .container{justify-content: flex-start;padding-top: 5rem;}
    .txt-area{display:flex;align-items:center;flex-wrap: wrap;font-size:80px;}
    .txt-area p{margin-right: 12px;opacity: .5;}

    .txt-area01{
        .txt-item02{transform: translate(40%, 80%);}
        .txt-item03{transform: translate(40%, 80%);}
    }
    .txt-area02{
        .txt-item01{transform: translate(80%, -63%);}
        // .txt-item02{transform: translate(150%, -40%);}
    }
    .txt-area03{
        .txt-item01{transform: translate(80%, -63%);}
        .txt-item02{transform: translate(-150%,-150%);}
    }
    .txt-area04{
        .txt-item01{transform: translate(80%, -63%);}
        .txt-item02{transform: translate(-150%,-150%);}
    }

    // include
    @include bp('xxl'){.txt-area{font-size: 64px;}}
    @include bp('xl'){.txt-area{font-size: 48px;}}
    @include bp('lg'){padding: 40px 0; height: auto;
        .container{padding-top: 0;}
        .txt-area{width: auto;font-size: 32px;}
        .txt-area .txt-item{width: auto;opacity: 1;}
        .txt-area p{margin-right: 8px;}
    }
    @include bp('md'){ .txt-area{font-size: 28px;}}
}


// link /////////////////////////////////////////////////////////
.link{background-color: #fff;box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    .container{gap: 30px;}
    // link-head
    &-head{display: flex;align-items: self-end;column-gap: 30px;
        .tit{font-size: 80px;text-transform: uppercase;line-height: 1;}
        .line{flex: auto;position: relative;height: 12px;margin-bottom: 10px;background-color: $gray-color01;}
        .dot{position: absolute;left:0;top: 50%;transform: translateY(-50%);width: 20px;height:20px;border: 4px solid #fff;}
    }
    // link-list
    &-list{display: flex;gap:24px;width: 0;}    
    &-item{flex: 1 1 10%;transition: flex .5s ease-in-out;
        @include hf { flex: 1 1 20%;}
    }
    &-unit{display: flex;align-items: stretch; flex-direction: column;  justify-content: space-between;position: relative;z-index:1;gap:40px;width:100%;height:100%;padding: 3rem;background: url(/img/link-img02.jpg) no-repeat center/cover;white-space: nowrap;
        &::after{display: block;position: absolute;left: 0;top:0;z-index:-1;content: '';width: 100%;height: 100%;backdrop-filter:blur(10px) brightness(.3);transition:backdrop-filter .3s;}
        .tit-box{text-align: right;}
        .tit{margin-top: 10px;font-size: 60px;font-weight: 600;text-transform: uppercase;text-shadow: 0 8px 16px rgb(0,0,0,.16);line-height: 1;color: #fff;}
        .txt{position: relative;font-size: 20px;font-weight:300;color: #fff;text-transform: capitalize;opacity: .7;}
        .info{display: flex;align-items: center;gap:10px;width: 0;overflow: hidden;color: #fff;font-size:16px;text-align: left;transition:width .7s;white-space: nowrap;}
        .line{display: inline-block;flex: 1 1 10%;height: 2px;vertical-align: super;background-color: #fff;content: '';}
        
        @include hf { 
                &::after{backdrop-filter:blur(2px) brightness(.5);}
                .info{width: 100%;transition: width 1s;}
        }
    }
    
    // include
    @include bp('xxl'){
        &-unit{.tit{font-size: 48px;}}
    }
    @include bp('xl'){
        &-head{.tit{font-size: 64px;}}
        &-unit{padding:2rem;
            .tit{font-size: 36px;}}
    }
    @include bp('lg'){box-shadow: none;
        .container{padding-top: 0;}
        &-list{gap:12px;}    
        &-head{column-gap: 24px;
            .tit{font-size: 48px;}}
        &-unit{
            .tit{font-size: 32px;}
            .txt{font-size: inherit;}
            .info{font-size: 14px;}
        }
    }
    @include bp('md'){
        padding:40px 0;
        .container{gap: 20px;}
        &-head{column-gap: 10px;
            .tit{font-size: 36px;letter-spacing: -1px;}
            .line{height: 8px;}
            .dot{width: 16px;height: 16px;}
        }
        &-list{flex-direction: column;}
        &-unit{gap: 20px;padding: 1.5rem 2rem;
            .tit-box{display: flex;align-items: center;justify-content: flex-end;gap: 12px;}
            .tit{margin-top: 0;font-size: 24px;}
            .txt{font-size: 14px;}
            .info{width: 100%;
                .line{height: 1px;}
            }
        }
    }
}


// profile /////////////////////////////////////////////////////////
.profile{background-color: #fff;box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    .container{flex-direction: row; align-items: flex-start;column-gap: 10%;padding-top: 5rem;}

    // profile-head
    &-head{flex: 0 1 240px;display:flex;flex-direction: column; align-items: center; flex-wrap: wrap;position: sticky; top: 0;left: 0;height:100%;
        .img{margin-bottom:24px;aspect-ratio: 1 / 1; border-radius: $circle; overflow: hidden;}
        img{width: 100%;height: 100%;object-fit: cover;}
    }
    .name{margin-bottom: 12px;font-size: 32px;}
    .tag{display: flex; flex-wrap: wrap; justify-content: center; gap: 6px;
        span{padding:6px 20px;border-radius: $oval;background-color: $bg-color02;font-size: 16px;text-align: center;}
    }

    // profile-body
    &-body{flex: 0 1 calc(90% - 240px);}
    &-box{padding: 30px 60px;border: 1px solid $gray-color03;margin-bottom: 24px;}
    &-tit{font-size: 52px;font-weight: 900;text-transform: uppercase;}
    .skill{
        &-list{}
        &-item{display: flex;align-items: flex-start;margin-bottom: 32px;
            &:last-child{margin-bottom: 0;}
        }
        &-head{display: flex;align-items: baseline;flex: 0 1 200px;gap: 8px;}
        .icon{display: inline-block;width:30px;height: 30px;border-radius: $circle;overflow: hidden;}
        img{width: 100%;height: 100%;object-fit: cover;}
        &-body{flex: 1 1 10%;}
        .txt{font-size: 16px;}
        .progress{display: flex;align-items: center;gap: 14px;color: $gray-color03;font-size:14px;
            .bar{width: 100%;height:6px;background-color: $bg-color02;border-radius: $oval;}
        }


    }


    // include
    @include bp('xxl'){

    }
    @include bp('lg'){box-shadow: none;

    }


}





// career /////////////////////////////////////////////////////////
    .career{display: grid;grid-template-columns: 4fr 8fr;column-gap: 16px; padding: 5rem 0;  
        &-tit{font-size: 52px;font-weight: 900;}
        &-list{display: grid;grid-template-columns: repeat(2, 1fr);gap:60px 40px;}
        &-item{border-top: 1px solid $gray-color01;padding-top: 30px;}
        .client{font-size: 22px;}
        .tit{font-size: 22px;margin-bottom: 40px;}
        .date{color: $gray-color03;}


    }

