@import url(/css/font.css);
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  width: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #000028;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  scroll-behavior: smooth;
}
@media (max-width: 992px) {
  body, html {
    width: 100dvw;
    font-size: 16px;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
a:focus-visible {
  text-decoration: none;
  color: inherit;
  outline-color: #4747D4;
}

button, input, select, textarea {
  background: 0 0;
  border: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

button {
  cursor: pointer;
}

img, video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" -25, "opsz" 20;
  vertical-align: middle;
}

.main-con {
  word-break: keep-all;
  width: 100%;
}

.main-con .container {
  height: 100vh;
}

.sub-con {
  word-break: keep-all;
  width: 100%;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
  width: 100%;
  max-width: 1920px;
  height: 100%;
}

.main-tit {
  display: flex;
  align-items: center;
  gap: 12px 24px;
  padding-top: 10px;
  border-top: 1px solid #000028;
  font-size: 64px;
  text-transform: uppercase;
}

.tit-sub {
  font-weight: 400;
  font-size: 20px;
  color: #484856;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 60px;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .main-con section {
    min-height: 100vh;
  }
  section {
    min-height: 0;
  }
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}
.height-up {
  animation: height-up 0.5s ease 1 normal both;
}

.height-down {
  animation: height-down 0.3s ease 1 normal both;
}

@keyframes height-up {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
@keyframes height-down {
  0% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.visual .txt-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 80px;
}
.visual .txt-area p {
  margin-right: 12px;
}
.visual .txt-area span {
  opacity: 0.5;
}
.visual .txt-item {
  transform: scaleY(0);
  transform-origin: bottom;
}
@media (max-width: 1920px) {
  .visual .txt-area {
    font-size: 64px;
  }
}
@media (max-width: 1400px) {
  .visual .txt-area {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .visual {
    padding: 40px 0;
  }
  .visual .txt-area {
    width: auto;
    font-size: 32px;
  }
  .visual .txt-area .txt-item {
    width: auto;
    opacity: 1;
  }
  .visual .txt-area p {
    margin-right: 8px;
  }
}
@media (max-width: 768px) {
  .visual .txt-area {
    font-size: 28px;
  }
}

.link .container {
  gap: 30px;
}
.link-head {
  display: flex;
  align-items: self-end;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.link-head .tit {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
}
.link-head .line {
  flex: auto;
  position: relative;
  height: 12px;
  margin-bottom: 10px;
  background-color: #000028;
}
.link-head .dot {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
}
.link-list {
  display: flex;
  gap: 24px;
  width: 0;
}
.link-item {
  flex: 1 1 10%;
  transition: flex 0.5s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .link-item:hover {
    flex: 1 1 20%;
  }
}
.link-item:focus-visible {
  flex: 1 1 20%;
}
.link-unit {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 3rem;
  background: url(/img/link-img02.jpg) no-repeat center/cover;
  white-space: nowrap;
}
.link-unit::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(0.3);
  transition: backdrop-filter 0.3s;
}
.link-unit .tit-box {
  text-align: right;
}
.link-unit .tit {
  margin-top: 10px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  line-height: 1;
  color: #fff;
}
.link-unit .txt {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
  opacity: 0.7;
}
.link-unit .info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 0;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  text-align: left;
  transition: width 0.7s;
  white-space: nowrap;
}
.link-unit .line {
  display: inline-block;
  flex: 1 1 10%;
  height: 2px;
  vertical-align: super;
  background-color: #fff;
  content: "";
}
@media (hover: hover) and (pointer: fine) {
  .link-unit:hover::after {
    backdrop-filter: blur(2px) brightness(0.5);
  }
  .link-unit:hover .info {
    width: 100%;
    transition: width 1s;
  }
}
.link-unit:focus-visible::after {
  backdrop-filter: blur(2px) brightness(0.5);
}
.link-unit:focus-visible .info {
  width: 100%;
  transition: width 1s;
}
@media (max-width: 1920px) {
  .link-unit .tit {
    font-size: 48px;
  }
}
@media (max-width: 1400px) {
  .link-head .tit {
    font-size: 64px;
  }
  .link-unit {
    padding: 2rem;
  }
  .link-unit .tit {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .link {
    box-shadow: none;
  }
  .link .container {
    padding-top: 0;
  }
  .link-list {
    gap: 12px;
  }
  .link-head {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .link-head .tit {
    font-size: 48px;
  }
  .link-unit .tit {
    font-size: 32px;
  }
  .link-unit .txt {
    font-size: inherit;
  }
  .link-unit .info {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .link {
    padding: 40px 0;
  }
  .link .container {
    gap: 20px;
  }
  .link-head {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .link-head .tit {
    font-size: 36px;
    letter-spacing: -1px;
  }
  .link-head .line {
    height: 8px;
  }
  .link-head .dot {
    width: 16px;
    height: 16px;
  }
  .link-list {
    flex-direction: column;
  }
  .link-unit {
    gap: 20px;
    padding: 1.5rem 2rem;
  }
  .link-unit .tit-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
  .link-unit .tit {
    margin-top: 0;
    font-size: 24px;
  }
  .link-unit .txt {
    font-size: 14px;
  }
  .link-unit .info {
    width: 100%;
  }
  .link-unit .info .line {
    height: 1px;
  }
}

.header {
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 999;
}
.header .menu-ham span {
  display: inline-block;
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  transition: 0.5s;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.profile-head {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 30px;
  height: 100vh;
  background-color: #000028;
  color: #fff;
  transition: all 0.3s;
}
.profile-head .img {
  max-width: 200px;
  margin-bottom: 24px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.profile-head img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .name {
  margin-bottom: 12px;
  font-size: 32px;
}
.profile .tag p {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  margin: 0 -10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  opacity: 0;
}
.profile .tag span {
  margin-right: 6px;
}
.profile-body {
  position: absolute;
  right: -100dvh;
  z-index: 1;
  padding: 20vh 80px 0;
  transition: 0.4s;
}
.profile-box {
  margin-bottom: 200px;
}
.profile-tit {
  margin-bottom: 24px;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
}
.profile.active {
  max-width: 1920px;
}
.profile.active .profile-head {
  flex: 0 1 25%;
  background-color: #000080;
}
.profile.active .img {
  max-width: 180px;
}
.profile.active .name {
  margin-bottom: 24px;
}
.profile.active .tag p {
  display: block;
  padding: 6px 20px;
  margin-bottom: 6px;
  width: auto;
  height: auto;
}
.profile.active .profile-body {
  position: static;
  flex: 0 1 75%;
  width: 100%;
}
.profile .skill-item {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
.profile .skill-item:last-child {
  margin-bottom: 0;
}
.profile .skill-item::after {
  display: block;
  position: absolute;
  left: 0;
  top: 14px;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: #000028;
  content: "";
}
.profile .skill-head {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding-right: 10px;
  background-color: #fff;
}
.profile .skill .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.profile .skill img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .skill-body {
  padding-left: 38px;
  margin-top: 6px;
}
.profile .skill .txt {
  font-size: 16px;
}
.profile .timeline-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
}
.profile .timeline-item {
  position: relative;
  flex: 0 1 50%;
}
.profile .timeline-item:nth-child(odd) {
  padding-right: 40px;
}
.profile .timeline-item:nth-child(even) {
  padding-left: 40px;
}
.profile .timeline-item::before {
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 1px;
  background-color: #000028;
  content: "";
}
.profile .timeline .dot {
  position: relative;
  width: 18px;
  height: 18px;
  margin-bottom: 6px;
}
.profile .timeline .dot::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000028;
  content: "";
}
.profile .timeline .dot::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000028;
  content: "";
  animation: scale-up 1.5s linear infinite;
}
.profile .timeline .date {
  margin-bottom: 10px;
  color: #7E7E94;
  font-size: 16px;
}
.profile .timeline .place {
  margin-bottom: 24px;
  color: #484856;
}
.profile .timeline .txt {
  font-size: 20px;
  font-weight: 600;
}
.profile .career-list {
  flex: 1 1 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.profile .career-item {
  background-color: #f7f7f7;
  padding: 20px 24px;
}
.profile .career .client {
  font-size: 16px;
  color: #484856;
  margin-bottom: 6px;
}
@media (max-width: 1920px) {
  .profile .timeline-item:nth-child(odd) {
    padding-right: 32px;
  }
  .profile .timeline-item:nth-child(even) {
    padding-left: 32px;
  }
}
@media (max-width: 1400px) {
  .profile .container {
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
  .profile-head {
    flex: 0 1 200px;
  }
  .profile .tag span {
    padding: 6px 16px;
  }
  .profile-box {
    min-height: 0;
    margin-bottom: 100px;
  }
  .profile-tit {
    font-size: 36px;
  }
  .profile .timeline-list {
    row-gap: 50px;
  }
  .profile .timeline-item:nth-child(odd) {
    padding-right: 24px;
  }
  .profile .timeline-item:nth-child(even) {
    padding-left: 24px;
  }
  .profile .timeline-item::before {
    top: 7px;
  }
  .profile .timeline .dot {
    width: 16px;
    height: 16px;
  }
  .profile .timeline .date {
    margin-bottom: 6px;
  }
  .profile .timeline .place {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .profile .timeline .txt {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .profile {
    display: block;
    box-shadow: none;
  }
  .profile .container {
    display: block;
  }
  .profile-head {
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    left: 5%;
    top: 5%;
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 16px;
  }
  .profile-head .img {
    width: 140px;
    margin-bottom: 16px;
  }
  .profile .name {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .profile .tag {
    flex: 0 1 100%;
  }
  .profile-body {
    z-index: 1;
  }
  .profile-tit {
    font-size: 32px;
  }
  .profile .timeline-list {
    row-gap: 24px;
  }
  .profile .timeline .date {
    font-size: 14px;
  }
  .profile .timeline .place {
    margin-bottom: 12px;
  }
  .profile .timeline .txt {
    font-size: inherit;
  }
  .profile .career-list {
    gap: 16px;
  }
  .profile .career .client {
    font-size: 14px;
  }
  .profile .profile-head {
    display: none;
  }
  .profile.active .profile-head {
    display: flex;
  }
}
@media (max-width: 768px) {
  .profile .container {
    padding-top: 0;
  }
  .profile-head {
    margin-bottom: 30px;
  }
  .profile-head .img {
    width: 100px;
  }
  .profile-box {
    margin-bottom: 40px;
  }
  .profile-tit {
    font-size: 24px;
  }
  .profile .skill-item {
    flex-direction: column;
    margin-bottom: 28px;
  }
  .profile .skill .icon {
    width: 26px;
    height: 26px;
  }
  .profile .timeline-item {
    flex: 0 1 100%;
  }
  .profile .timeline-item:nth-child(odd), .profile .timeline-item:nth-child(even) {
    padding: 0;
  }
  .profile .timeline .place {
    font-size: 14px;
  }
}

.work {
  padding-top: 10rem;
  background-color: #fff;
}
.work-body {
  display: flex;
  gap: 4%;
}
.work-list {
  flex: 0 1 calc(96% - 800px);
}
.work-item {
  border-bottom: 1px solid #7E7E94;
}
.work-item .client {
  font-weight: 500;
  font-size: 32px;
  color: #484856;
}
.work-item .info {
  display: none;
}
.work-item .site-btn {
  display: inline-block;
  width: 0;
  overflow: hidden;
}
.work-item.active {
  border-bottom-width: 3px;
}
.work-item.active .client {
  font-weight: 600;
  font-size: 42px;
}
.work-item.active .site-btn {
  width: auto;
}
.work-item.active .info {
  display: block;
}
.design {
  padding-top: 10rem;
}